ADD_QUESTIONS_PORT=4002
ALLOWED_ORIGINS=http://localhost:3000
AWS_ACCESS_KEY_ID=your-key-goes-here    
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=your-secret-key-goes-here
DATABASE_URL=postgres://api_service:your_password!@localhost:5432/trivia_db
FRONTEND_URL=https://your-frontend-url.com
GET_QUESTIONS_PORT=4001
LEADERBOARD_API_KEY=your-key-goes-here
LEADERBOARD_PORT=4003
LOG_LEVEL=info
NODE_ENV=production
OPENAI_API_KEY=sk-your-key-goes-here
POSTGRES_DB=trivia_db
POSTGRES_HOST=127.0.0.1
POSTGRES_NAME=trivia_db
POSTGRES_PASSWORD=your_password!
POSTGRES_PORT=5432
POSTGRES_USER=api_service
QUESTIONS_PER_DAY=10
REDDIT_CLIENT_ID = your-key-goes-here
REDDIT_CLIENT_SECRET = your-secret-key-goes-here
S3_BUCKET_NAME=your-key-goes-here
